<sticky-product-cta class="sticky-product-cta center gradient color-scheme-background-1">
    <a class="button button--primary" href="#ProductInfo-{{ section.id }}">
        {{ 'products.product.add_to_cart' | t }}
    </a>
</sticky-product-cta>